*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/MultipleMediaPicker/build/outputs/logs/manifest-merger-debug-report.txt
/MultipleMediaPicker/build/generated/source/buildConfig/debug/com/luminous/pick/BuildConfig.java
/MultipleMediaPicker/src/main/java/com/luminous/pick/Adapter/ImageListRecyclerAdapter.java
/MultipleMediaPicker/src/main/java/com/luminous/pick/BaseActivity.java
/MultipleMediaPicker/src/main/java/com/luminous/pick/CustomGalleryActivity.java
/MultipleMediaPicker/src/main/java/com/luminous/pick/MainActivity.java
/MultipleMediaPicker/src/main/AndroidManifest.xml
/MultipleMediaPicker/build.gradle
/MultipleMediaPicker/build/
